<meta charset="UTF-8">
<title>Node-Blog</title>

<!-- CSS -->
<link rel="stylesheet" href="css/vendors/bootstrap/version/3.2/bootstrap.min.css">
<link rel="stylesheet" href="css/vendors/bootstrap/version/3.2/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/fonts/font-awesome.min.css">
<link rel="stylesheet" href="css/global.css">
