<nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">My Tweets</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right userdetails">
            <li>
				<a data-toggle="dropdown" href="#" class="dropdown-toggle" style="margin-left:-25px;">
					<img class="nav-user-photo" src="../images/avatars/user.jpg" alt="Messi's Photo" width="20px" />
					<span class="user-info">
						<small>Welcome,</small>
						Messi
					</span>
					<i class="icon-caret-down"></i>
				</a>
				<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
					<li>
						<a href="#">
							<i class="icon-cog"></i>
							Settings
						</a>
					</li>
					<li>
						<a href="#">
							<i class="icon-user"></i>
							Profile
						</a>
					</li>
					<li class="divider"></li>
					<li>
						<a href="#">
							<i class="icon-off"></i>
							Logout
						</a>
					</li>
				</ul>
			</li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>